/* General body styles */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #030E1C;
  color: white;
}

/* Main content styling */
.content {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

/* Container for slots, stats, and champion list */
#flex-container {
  display: flex;
  gap: 0;
  margin-top: 20px;
}

/* Slots section */
#slots-section.slots-section {
  flex: 0 0 auto;
  width: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  row-gap: 20px;
  margin-right: 10px;
}

/* Styling for slots */
.slot {
  height: 100px;
  border: 1px solid #5781BF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* Container for the role boxes */
}
.slot .role-boxes-container {
  display: block;
  height: 100%;
  border-radius: 10px;
  transform: translateX(-10px);
  /* Styling for individual role boxes */
}
.slot .role-boxes-container .role-box {
  width: 20px; /* Each box takes up 20% of the total width */
  height: 18.5%;
  border-radius: 14px;
  font-size: 12px;
  color: white;
  background-color: indigo;
  text-align: center;
  border: solid 1px white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Styling for images in slots */
.slot img {
  max-width: 96%;
  max-height: 96%;
  margin-right: 18px;
}

#stats-section {
  flex: 1;
  border: 1px solid #5781BF;
  overflow-y: auto;
  max-height: 600px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#stats-grid {
  display: grid;
  padding: 26px 12px 12px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  row-gap: 24px;
  column-gap: 6px;
  align-items: start;
  align-content: start;
}

.stats-card-wrapper {
  position: relative;
  background: transparent;
  z-index: 10;
}

.stats-card {
  z-index: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 0 5px 5px 5px;
  /* Container for the role boxes */
}
.stats-card .image-container {
  margin: auto;
  transform: translateX(-1px);
  background: none;
  border-radius: 5px;
  overflow: hidden;
  /* Styling for the champion image */
}
.stats-card .image-container img {
  transform: scale(1.1, 1.12) translateY(1px);
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  filter: contrast(1.1) brightness(0.85);
}
.stats-card .role-boxes-container {
  display: flex;
  transform: translate(-2px, -26px);
  overflow: hidden;
  z-index: -1;
  border-bottom: solid 0.5px #0A2445;
  border-top-left-radius: 5px;
  /* Styling for individual role boxes */
}
.stats-card .role-boxes-container .role-box {
  width: 16px;
  height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-card .bar-container {
  width: 70%;
  transform: translate(10px, 14px);
  display: flex;
  justify-content: flex-start;
}
.stats-card .bar-container .bar {
  background-color: #addbe0;
  height: 2px;
  opacity: 0.5;
}
.stats-card .bar-container .bar .number-display {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  left: 3px;
  bottom: -13px;
  font-size: 12px;
  font-weight: bold;
}

/* Styling for the highlighted slots */
.highlighted-slot {
  border: 2px solid #b4a8ff;
  background-color: #3A2E83;
}

/* Slots section */
#champions-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-right: 0;
  max-height: 600px;
  border: 1px solid #5781BF;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* Styling for the champion list */
#champions-list {
  display: grid;
  padding: 10px;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 10px;
  align-items: start;
  align-content: start;
}
#champions-list .champion {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}
#champions-list .champion img {
  width: 100%;
  height: 100%;
}

/* Toggle switch styling */
.toggle-switch {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 26px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 98, 161);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-switch input:checked + label {
  background-color: rgb(147, 52, 44);
}

.toggle-switch input:checked + label:before {
  transform: translateX(22px);
}

.inactive-champion {
  opacity: 0.5;
  pointer-events: none; /* Disable clicks on the champion */
}

/* SCSS code for styling the search bar */
#champion-search-bar {
  background-color: #101014;
  color: white;
  padding: 8px;
  border-radius: 10px;
  /* Remove the default border and add a new border style */
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 14px;
  /* Add a transition for smooth hover effect */
  transition: all 0.3s ease;
  /* Add a hover effect */
  /* Add a focus effect */
  font-family: "Roboto", sans-serif;
}
#champion-search-bar:hover {
  background-color: #2b274f;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
#champion-search-bar:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

::-webkit-scrollbar-track {
  background-color: #101014 !important;
  margin-bottom: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #413c6e !important;
  border-radius: 6px !important;
}

/*# sourceMappingURL=styles.css.map */
