h3 {
  text-align: center;
  opacity: 0.5;
  font-size: 24px;
  margin: 0;
  margin-block-start: 1vh;
  margin-block-end: 1vh;
}

h4 {
  text-align: center;
  opacity: 0.5;
  font-size: 20px;
  margin: 0;
}

h2 {
  display: flex;
  position: relative;
  opacity: 0.7;
}

/* General SVG styling */
svg {
  width: 3vh;
  height: 3vh;
}

/* General body styles */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  color: white;
  margin: 1vh;
}

/* Main content styling */
.content {
  max-width: 200vh;
  margin: auto;
  padding: 2vh;
  text-align: justify;
}

/* Container for slots, stats, and champion list */
#flex-container {
  display: flex;
  gap: 0;
  margin-top: 1rem;
}

/* Slots section */
#slots-section.slots-section {
  flex: 0 0 auto;
  width: 24vh;
  height: 86vh;
  display: flex;
  flex-direction: column;
  gap: 1.6vh;
  margin: auto;
  padding: 0 1.6vh 0;
}

.slot-container:hover .slot-role-selector-container {
  left: 0; /* Slide out when container is hovered */
}

.slot-container:hover .hover-tab {
  left: -1vh; /* Slide out when container is hovered */
  height: 15vh;
  width: 0.2vh;
  background-image: linear-gradient(to bottom, #ac9acf 2%, transparent 2% 98%, #ac9acf 2%);
  background-color: transparent;
}

.slot-role-selector-container.partially-hidden {
  left: 8vh !important;
}

.hover-tab.partially-hidden {
  left: 10vh !important;
}

.slot-role-selector:hover::after {
  width: 6vh;
  background-color: white;
  transform: translate(-3vh, 2vh); /* Adjust the translate to -50% of new width to keep it centered */
}

.slot-role-selector::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-1vh, 2vh); /* Adjust the translate x to -50% of initial width to center it */
  width: 2vh;
  height: 0.2vh;
  border-radius: 1vh;
  background: #ac9acf;
  transition: all 0.5s ease;
}

.slot-role-selector.selected {
  transition: all 0.5s ease;
  transform: translateX(-6vh);
}

.hover-tab {
  position: absolute;
  display: none;
  z-index: -1;
  left: 6.2vh;
  transform: translateY(-0.2vh);
  width: 0.2vh;
  height: 2vh;
  background-color: #ac9acf;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* Styling for slot containers*/
.slot-container {
  height: 15.9vh;
  width: 24vh;
  display: flex;
  justify-content: flex-end;
  border-radius: 1vh;
  position: relative;
  align-items: center;
  /* Styling for slots */
  /* Container for the slot role selectors */
}
.slot-container .slot {
  height: 100%;
  width: 16vh;
  border: 0.1vh solid rgba(160, 193, 237, 0.54);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  object-fit: cover;
  position: relative;
  background-color: rgb(3, 14, 28);
}
.slot-container .slot-role-selector-container {
  display: flex;
  position: absolute;
  height: 15vh;
  width: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.5s;
  left: 8vh;
  /* Styling for individual slot role selectors */
}
.slot-container .slot-role-selector-container .slot-role-selector {
  width: 100%;
  height: 3vh;
  font-size: 1.4vh;
  opacity: 0.6;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  transition: all 0.5s ease;
}

/* Styling for images in slots */
.slot img {
  max-width: 96%;
  max-height: 96%;
}

#stats-section {
  flex: 1;
  border: 0.2vh solid rgba(160, 193, 237, 0.54);
  background-color: rgb(3, 14, 28);
  overflow-y: auto;
  overflow-x: hidden;
  height: 84vh;
  border-radius: 1vh;
  text-align: center;
  position: relative;
  padding: 0.2vh 1.6vh 1.6vh;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

#stats-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 2.6vh 2.4vh 2.4vh;
  column-gap: 0.4rem;
}

.invisible-filler {
  width: 100%;
  flex: 10;
  height: 100%;
}

#sideboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 2.6vh 2.4vh 2.4vh;
  column-gap: 0.4rem;
}

#commons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 2.6vh 2.4vh 2.4vh;
  column-gap: 0.4rem;
}

.stats-card-wrapper {
  position: relative;
  background: transparent;
  z-index: 10;
  aspect-ratio: 2/3;
  height: 8rem;
  box-sizing: border-box;
}

/* Container for the role boxes */
.role-boxes-container {
  display: flex;
  overflow: hidden;
  z-index: -4;
  height: 10%;
  border-top-left-radius: 5px;
  /* Styling for individual role boxes */
}
.role-boxes-container .role-box {
  width: 18%;
  height: 100%;
  text-align: center;
  display: flex;
}
.role-boxes-container .role-box svg {
  width: 100%;
  height: 100%;
}

.stats-card {
  box-sizing: border-box;
  cursor: pointer;
  z-index: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20% 16% 30%;
  margin: 0;
  height: 90%;
  border-radius: 0 5px 5px 5px;
}
.stats-card:hover .number-display {
  opacity: 1;
  font-size: 10pxx;
}
.stats-card:hover .bar-container .bar {
  opacity: 1;
}
.stats-card .image-container {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 5px;
  flex-shrink: 0;
  overflow: hidden;
  /* Styling for the champion image */
}
.stats-card .image-container img {
  transform: scale(1.1, 1.1);
  flex-shrink: 0;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  filter: contrast(1.1) brightness(0.85);
}
.stats-card .bar-container {
  width: 70%;
  bottom: 1.5rem;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: rgba(173, 219, 224, 0.3);
}
.stats-card .bar-container .bar {
  background-color: #addbe0;
  height: 2px;
  opacity: 0.8;
}
.stats-card .number-display {
  color: #addbe0;
  opacity: 0.8;
  transform: translateY(0.8rem);
  font-size: 12px;
  font-weight: bold;
}

/* Styling for the highlighted slots */
.highlighted-slot {
  border: 0.3vh solid #b4a8ff !important;
  background-color: #3A2E83 !important;
}

/* Toggle switch styling */
.toggle-switch {
  display: flex;
  width: 44px;
  height: 16px;
}

#search-container {
  display: flex;
}

#data-view-selector-container {
  top: 0;
  left: 0;
  width: 36px;
  padding: 5px;
}

#data-view-selector-container label {
  display: flex;
  position: relative;
  transform: translate(2px, -4px);
  margin-top: 0;
  font-size: 12px;
}

.data-view-toggle-wrapper label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  margin-right: 5px;
  width: 100%;
  height: 100%;
  background-color: rgb(42, 98, 161);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: 3px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.toggle-switch input:checked + label {
  background-color: rgb(147, 52, 44);
}

.toggle-switch input:checked + label:before {
  transform: translateX(20px);
}

.inactive-champion {
  opacity: 0.5;
  pointer-events: none; /* Disable clicks on the champion */
}

/* SCSS code for styling the search bar */
#champion-search-bar {
  position: relative;
  display: flex;
  width: 40vh;
  background-color: rgba(45, 41, 64, 0.5);
  color: white;
  padding: 1vh;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  font-size: 14px;
  /* Add a transition for smooth hover effect */
  transition: all 0.3s ease;
  /* Add a hover effect */
  /* Add a focus effect */
  font-family: "Roboto", sans-serif;
}
#champion-search-bar:hover {
  background-color: #2b274f;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}
#champion-search-bar:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(45, 41, 64, 0.5) !important;
  border-radius: 10px !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #413c6e !important;
  border-radius: 10px !important;
  min-height: 8vh;
}

/* More Stats Section */
#more-cards-section {
  flex: 0 0 auto;
  height: 82.4vh;
  width: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vh solid rgba(160, 193, 237, 0.54);
  background-color: rgb(3, 14, 28);
  border-radius: 1vh;
  padding: 1.6vh 1.6vh 1.6vh;
  margin-left: 1.6vh;
  overflow: hidden;
}

.more-card-background {
  border-radius: 2vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 82.4vh;
  aspect-ratio: 63/88;
  border: solid rgba(136, 114, 73, 0.4) 0.2vh;
}

/* More card */
.more-card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  width: 60vw;
  height: 82.4vh;
  aspect-ratio: 63/88;
  display: flex;
  overflow: clip;
  flex-direction: column;
  align-items: center;
  /* Header */
  /* Splash Art Container Styling */
  /* Navigator */
  /* Footer */
}
.more-card .header {
  width: 88%;
  display: flex;
  margin-bottom: 1vh;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}
.more-card .header .champ-name {
  flex: 1;
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 4vh;
  font-weight: 900;
  font-family: "Cinzel", serif;
  text-shadow: 0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.7), 1vh 1vh 3vh rgb(0, 0, 0); /* Larger, more blurred shadow for a glow effect */
}
.more-card .header .pb-section {
  display: flex;
  gap: 1vh;
  width: 20vh;
}
.more-card .header .pb-section .pb-container {
  width: 33.33%;
  border-right: solid rgba(136, 114, 73, 0.6) 0.2vh;
  text-align: center;
  flex-direction: column;
  line-height: 0;
  text-shadow: 0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.7), 1vh 1vh 3vh rgb(0, 0, 0);
}
.more-card .header .pb-section .pb-pct {
  border: none;
}
.more-card .splash-art-container {
  width: 88%;
  height: 29vh;
  overflow: hidden;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  position: relative;
  border: solid rgba(136, 114, 73, 0.6) 0.2vh;
}
.more-card .splash-art-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  pointer-events: none;
  background: radial-gradient(circle, transparent, transparent 70%, rgb(0, 0, 0) 100%);
}
.more-card .splash-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.more-card .navigator {
  display: flex;
  position: absolute;
  top: 38vh;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 100%;
  text-shadow: 0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.7), 1vh 1vh 3vh rgb(0, 0, 0); /* Larger, more blurred shadow for a glow effect */
}
.more-card .navigator .go-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2vh;
  flex: 0 0 auto;
}
.more-card .navigator .go-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 2vh;
  flex: 0 0 auto;
}
.more-card .navigator .page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  font-size: 2.5vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
.more-card .frequency-section {
  display: flex;
  justify-content: center;
  height: 34vh;
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
  border: solid rgba(136, 114, 73, 0.6) 0.2vh;
  border-radius: 1vh;
  background-color: rgba(3, 14, 28, 0.4);
  /* Title container for the sections in the pick_total section */
  /* Style the title text */
  /* Role Frequencies */
  /* Picks Frequency */
  /* Recent Game Section */
}
.more-card .frequency-section .frequency-title-container {
  display: flex;
  height: 4vh;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}
.more-card .frequency-section .frequency-title {
  font-size: 2vh;
  margin: 0;
  padding: 0;
  text-shadow: 0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.7), 1vh 1vh 3vh rgb(0, 0, 0); /* Larger, more blurred shadow for a glow effect */
}
.more-card .frequency-section .role-frequency-section {
  width: 24vh;
  height: 30vh;
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  font-size: 2vh;
  overflow: clip;
}
.more-card .frequency-section .role-frequency-section .role-frequency-container {
  width: 24vh;
  height: 26vh;
  align-items: start;
}
.more-card .frequency-section .role-frequency-section .role-frequency-container svg {
  height: 100%;
  width: 100%;
}
.more-card .frequency-section .pick-frequency-section {
  flex: 0.4;
  margin-left: 2vh;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 2vh;
  padding-right: 2vh;
  border-right: solid rgba(136, 114, 73, 0.4) 0.2vh;
  display: flex;
  flex-direction: column;
  /* Picks Container */
}
.more-card .frequency-section .pick-frequency-section .picks-container {
  display: flex;
  gap: 2vh;
  margin-top: 1vh;
  width: 100%;
  height: 100%;
  /* Blue container styling */
  /* Red container styling */
}
.more-card .frequency-section .pick-frequency-section .picks-container .blue-container {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  /* Blue square styling */
  /* Blue rectangle styling */
}
.more-card .frequency-section .pick-frequency-section .picks-container .blue-container .blue-square {
  width: 4vh;
  height: 4vh;
  border-radius: 0.5vh;
  border: solid 0.2vh rgba(136, 114, 73, 0.4);
  background-color: #004473;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-card .frequency-section .pick-frequency-section .picks-container .blue-container .blue-rectangle {
  width: 4vh;
  height: 8.7vh;
  border-radius: 0.5vh;
  background-color: #004473;
  border: solid 0.2vh rgba(136, 114, 73, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-card .frequency-section .pick-frequency-section .picks-container .blue-container .blue-rectangle-2 {
  width: 4vh;
  height: 8.7vh;
  border-radius: 0.5vh;
  background-color: #004473;
  border: solid 0.2vh rgba(136, 114, 73, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-card .frequency-section .pick-frequency-section .picks-container .red-container {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  /* Red rectangle styling */
  /* Red square styling */
}
.more-card .frequency-section .pick-frequency-section .picks-container .red-container .red-rectangle {
  width: 4vh;
  height: 8.7vh;
  border-radius: 0.5vh;
  background-color: #8e0d35;
  border: solid 0.2vh rgba(136, 114, 73, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-card .frequency-section .pick-frequency-section .picks-container .red-container .red-square {
  width: 4vh;
  height: 4vh;
  border-radius: 0.5vh;
  background-color: #8e0d35;
  border: solid 0.2vh rgba(136, 114, 73, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-card .frequency-section .recent-game-section {
  flex: 1;
  margin-right: 2vh;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-left: 2vh;
  border-left: solid rgba(136, 114, 73, 0.4) 0.2vh;
  font-size: 2vh;
  display: flex;
  flex-direction: column;
}
.more-card .frequency-section .recent-game-section .game-container {
  height: 100%;
  width: 100%;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  gap: 2vh;
}
.more-card .frequency-section .recent-game-section .game-container .left-game-container, .more-card .frequency-section .recent-game-section .game-container .right-game-container {
  width: 100%;
  height: 100%;
  gap: 0.5vh;
  display: flex;
  flex-direction: column;
}
.more-card .frequency-section .recent-game-section .game-container .left-game-container .small-image-container, .more-card .frequency-section .recent-game-section .game-container .right-game-container .small-image-container {
  height: 4vh;
  width: 4vh;
  border-radius: 0.5vh;
  border: solid rgba(136, 114, 73, 0.6) 0.2vh;
}
.more-card .rules-section {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  margin-left: 6%;
  margin-right: 6%;
  justify-content: start;
  align-items: center;
}
.more-card .rules-section .rules-single-container {
  height: 29vh;
  width: 88%;
  margin-bottom: 4vh;
  text-align: center;
  border: solid rgba(136, 114, 73, 0.6) 0.2vh;
  border-radius: 1vh;
  background-color: rgba(3, 14, 28, 0.4);
}
.more-card .rules-section .rules-multi-container {
  height: 34vh;
  width: 88%;
  text-align: center;
  border: solid rgba(136, 114, 73, 0.6) 0.2vh;
  border-radius: 1vh;
  background-color: rgba(3, 14, 28, 0.4);
}
.more-card .footer {
  display: flex;
  flex: 0.1;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  margin-top: auto;
}
.more-card .footer .foot-note {
  flex: 1;
  font-size: 1.5vh;
  transform: translate(4vh, 0);
}

/*# sourceMappingURL=styles.css.map */
