{% extends 'base.html' %}

{% block head %}
    <title>Task Tactics</title>
{% endblock %}

{% block body %}
    <div class="content">
        <!-- Data View Selector -->
        <div id="data-view-selector-container">
            <div class="toggle-switch">
                <input type="checkbox" id="data-view-toggle">
                <label for="data-view-toggle"></label>
            </div>
        </div>
    <!-- Champion Slots and Elements Section -->
    <div id="flex-container" class="flex-container">
        <!-- Champion Slots Section -->
        <div id="slots-section" class="slots-section">
            {% for slot_id in range(1, 6) %}
                <div class="slot" id="slot_{{ slot_id }}"></div>
            {% endfor %}
        </div>

        <!-- Stats Section -->
        <div id="stats-section">
            <div id="stats-grid">
                <div id="stats-card-wrapper">
                    <div class="stats-card">
                        <div class="role-boxes-container">
                            <!-- Role boxes go here -->
                        </div>
                        <div class="image-container">
                            <!-- Image container content goes here -->
                        </div>
                        <div class='bar-container'>
                            <!-- Bar container content goes here -->
                        </div>
                    </div>
                    <!-- More stats cards-->
                </div>
            </div>
        </div>

        <!-- Champions List -->
        <div id="champions-section">
            <!-- Search Bar -->
            <label for="champion-search-bar"></label>
            <input type="text" id="champion-search-bar" placeholder="Search champions..." />

            <div id="champions-list">
                {% for champion in champions %}
                    <img src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ champion.id }}.png"
                         alt="Champion Image" class="champion" data-id="{{ champion.id }}">
                {% endfor %}
            </div>
        </div>
    </div>

        <!-- Data Storage -->
        <div id="data-storage-section" style="display: none;">
            {% for champion in champions %}
                <div class="champion-data"
                     data-id="{{ champion.id }}"
                     data-name="{{ champion.name }}"
                     data-blue-picks="{{ champion.blue_picks | tojson }}"
                     data-blue-bans="{{ champion.blue_bans | tojson }}"
                     data-red-picks="{{ champion.red_picks | tojson }}"
                     data-red-bans="{{ champion.red_bans | tojson }}"
                     data-roles="{{ champion.roles | tojson }}"
                     data-image-url="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ champion.id }}.png">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

